.card {
   
    /* max-width: fit-content; */
    width: fit-content;
    /* height: fit-content; */
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 80vw ; 

}

iframe {
    height: 45em;
    width: 75em;
    border-radius: 9px;
    box-shadow: 3px 3px 12px gray;
}


