* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    font-size: 4rem;
    text-align:center;
    padding-top: 2rem;
    background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec008c, #fc6767); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #ebeff0;
    
}

.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.content {
    display: flex;
    gap: 2em;
    margin-block: 1em;
    margin-inline: 1em;
    


}

.containers {
    width: 40vw;
    height: 30vh;
    background: #ded6d6;
    border-radius: 9px;
    box-shadow: 2px 2px 3px rgb(214, 214, 214);
}

.containers:hover {
    animation: 1s forwards enlarge;
}


.learn-button {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 2em;
    font-size: 1.2em;
    
}
.learn-button:visited, .learn-button:active, .learn-button:hover, .learn-button:link {
    text-decoration: none;
    color: gray;
}

.learn-button:hover {
    color: black;
}
.learn-button > * {
    padding: 0.5em;
    padding-inline: 2em;
    font-weight: 600;
}


@keyframes enlarge {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


.text-content {
    width: 70%;
    margin: 8rem auto;
    color: rgb(60, 60, 60);
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5em;

}

.cntnr1 {
    background : url("../images/cute-boy.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.cntnr2 {
    background: url("../images/boy-girl-with-down-syndrome-looking-laptop.jpg");
    background-size: cover;
    background-position: right 50%;
}

.cntnr3 {
    background: url("../images/child-smiling-with-hands-full-paint.jpg");
    background-size: cover;
    /* background-position: right 50%; */

}

button {
    all: unset;
    background: white;
    border-radius: 9px;
}
